@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="Books/AddBook">Add Books</a></p>
    <p><a href="Books/ShowBooks">Show Books</a></p>
</div>
